extends layout

block body
  include helpers

  .city
    include header

    h2
      each city in cities
        a(class={ active: city.name == name } href=city.url)= city.name

    script.
      document.querySelector('h2 a.active').scrollIntoView();

    .map
      #map

    .search
      input(type="text" placeholder="Search by name, type, or area..." v-model="filter" autofocus)

    .scroll-wrapper
      table
        thead
          tr
            th Score
            th Name
            th WiFi
            th Power
            th Vacancy
            th Comfort
            th Quiet
            th Drinks
            th Food
            th Price
            th View
            th Toilets
            th Music
            th Smoking
            th(title="Standing Tables") Standing
            th(title="Outdoor Seating") Outdoor
            th Cash Only
            th Animals
            th Type
            th Area
            th Opens
            th Closes
        tbody
          if places.length == 0
            tr
              td(class="empty" colspan="999") No places found ¯\_(ツ)_/¯
          each e in places
            tr(class={ closed: e.closed } data-coordinates=e.coordinates data-score=e.score data-name=e.name data-url=e.url)
              td: +score(e)
              td.truncate
                a(href=e.url title=e.name)= e.name
              td: +attribute(e.wifi)
              td: +attribute(e.power)
              td: +attribute(e.vacancy)
              td: +attribute(e.comfort)
              td: +attribute(e.quiet)
              td: +attribute(e.drinks)
              td: +attribute(e.food)
              td: +attribute(e.price)
              td: +attribute(e.view)
              td: +attribute(e.toilets)
              td: +attribute(e.music)
              td: +attribute(e.smoking)
              td: +attribute(e.standing_tables)
              td: +attribute(e.outdoor_seating)
              td: +attribute(e.cash_only)
              td: +attribute(e.animals)
              td= e.type
              td= e.area
              td= e.opens
              td= e.closes

  -
    const markers = places.map(e => {
      return {
        name: e.name,
        url: e.url,
        score: e.score,
        coordinates: e.coordinates,
      };
    });

  script.
    CafeAndCowork.Table(document.querySelector('table'), document.querySelector('input'));
    CafeAndCowork.City('#{coordinates}', !{JSON.stringify(markers)});
