extends layout

block body
  include mixins

  .city
    include header

    h2
      - const currentCityName = city.name
      each city in cities
        a(class={ active: city.name == currentCityName } href=`${prefix}${city.url}`)
          span.flag= city.flag
          span= __(city.name)

    script.
      document.querySelector('h2 a.active').scrollIntoView();

    .map
      #map

    .search
      input(type="text" placeholder=__("Search by name, type, or area...") v-model="filter" autofocus)

    .scroll-wrapper
      table
        thead
          tr
            th= __('Score')
            th= __('Name')
            th= __('WiFi')
            th= __('Power')
            th= __('Vacancy')
            th= __('Comfort')
            th= __('Quiet')
            th= __('Drinks')
            th= __('Food')
            th= __('Price')
            th= __('View')
            th= __('Toilets')
            th= __('Music')
            th= __('Smoking')
            th(title=__("Standing Tables"))= __('Standing')
            th(title=__("Outdoor Seating"))= __('Outdoor')
            th= __('Cash Only')
            th= __('Animals')
            th(title=__("Lactose-Free Milk"))= __('LFM')
            th= __('Area')
            th= __('Opens')
            th= __('Closes')
        tbody
          if city.places.length == 0
            tr
              td(class="empty" colspan="999")= __('No places found ¯\\_(ツ)_/¯')
          each e in city.places
            - const isClosed = isClosedNow(city, e);
            tr(data-url=e.url class={ closed: isClosed, permanentlyClosed: e.closed })
              td: +score(e)
              td.truncate
                a(href=`${prefix}${e.url}` title=e.name)= e.name
                if isClosed
                  span.closed (#{__('Closed')})
              td(data-tip=e.speed ? `${e.speed} Mb/s` : "WiFi"): +attribute(e.wifi)
              td(data-tip=__("Power")): +attribute(e.power)
              td(data-tip=__("Vacancy")): +attribute(e.vacancy)
              td(data-tip=__("Comfort")): +attribute(e.comfort)
              td(data-tip=__("Quiet")): +attribute(e.quiet)
              td(data-tip=__("Drinks")): +attribute(e.drinks)
              td(data-tip=__("Food")): +attribute(e.food)
              td(data-tip=__("Price")): +attribute(e.price)
              td(data-tip=__("View")): +attribute(e.view)
              td(data-tip=__("Toilets")): +attribute(e.toilets)
              td(data-tip=__("Music")): +attribute(e.music)
              td(data-tip=__("Smoking")): +attribute(e.smoking)
              td(data-tip=__("Standing Tables")): +attribute(e.standing_tables)
              td(data-tip=__("Outdoor Seating")): +attribute(e.outdoor_seating)
              td(data-tip=__("Cash Only")): +attribute(e.cash_only)
              td(data-tip=__("Animals")): +attribute(e.animals)
              td(data-tip=__("Lactose-Free Milk")): +attribute(e.lactose_free_milk)
              td(data-tip=__("Area"))
                if e.area
                  if e.areaUrl
                    a(href=e.areaUrl)= __(e.area)
                  else
                    span= __(e.area)
              if isClosedToday(city, e)
                td(colspan=2) Closed Today
              else
                td(data-tip=__("Opens"))= getOpeningTime(city, e)
                td(data-tip=__("Closes"))= getClosingTime(city, e)

  -
    const markers = city.places.map(e => {
      return {
        name: e.name,
        url: e.url,
        score: e.score,
        coordinates: e.coordinates,
        filter: `${e.name} ${e.type} ${__(e.type)} ${e.area} ${e.area ? __(e.area) : ''} ${e.station} ${e.station ? __(e.station) : ''} ${isClosedNow(city, e) ? 'closed' : 'open'}`,
        hours: e.hours,
        closed: e.closed,
      };
    });

  script.
    CafeAndCowork.City({
      coordinates: !{JSON.stringify(city.coordinates)},
      places: !{JSON.stringify(markers)},
      table: document.querySelector('table'),
      input: document.querySelector('input')
    });
