extends layout

block body
  include mixins

  mixin list(places, city)
    .list
      each place in places
        +item(place, city)

  mixin item(place, city)
    a(href=`${prefix}${place.url}`)
      .primary
        span.name= place.name
        span.score(class=getValueColor(place.score))
          span #{formatScore(place.score)}
          span.star ★
      .details
        if city || !place.area
          span= __('{{type}} in {{area}}', { type: __(place.type), area: __(`City: ${place.cityName}`) })
        else
          span= __('{{type}} in {{area}}', { type: __(place.type), area: __(`Area: ${place.area}`) })
        
  .index
    include header
    .columns
      each city in cities
        if city.places.length > 5
          .column
            h2
              a(href=`${prefix}${city.url}`)
                img.flag(src=`/flags/${city.flag}.png` height="17")
                span= __(`City: ${city.name}`)
                span.info
                  span= __('{{count}} places', { count: city.places.length })
                  i.fa.fa-angle-right
            +list(city.places.slice(0, 10))
            a.more(href=`${prefix}${city.url}`)= __('Explore more')
      .column
        h2= __('Recently Added')
        +list(recent, true)
      .column
        h2= __('Top Rated')
        +list(top, true)
      