extends layout

block body
  include mixins

  mixin list(places, city)
    .list
      each place in places
        +item(place, city)

  mixin item(place, city)
    a(href=place.url)
      .primary
        span.name= place.name
        span.score(class=getValueColor(place.score))
          span #{formatScore(place.score)}
          span.star ★
      .details
        if city
          span #{place.type} in #{place.city.name}
        else
          span #{place.type} in #{place.area}

  .index
    include header
    .columns
      each city in cities
        if city.places.length
          .column
            h2
              a(href=city.url)
                span= city.name
                span.info
                  span #{city.places.length} places
                  i.fa.fa-angle-right
            +list(city.places.slice(0, 10))
            a.more(href=city.url) Explore more
      .column
        h2 Recently Added
        +list(recent, true)
      .column
        h2 Top Rated
        +list(top, true)
      