doctype html
html
  head
    if title
      title #{title} – #{site.title}
    else
      title #{site.title} – #{site.description}
    meta(name="description" content=site.description)
    meta(name="author" content="pqvst")

    //- TODO: Fix responsive css...
    <meta name="viewport" content="width=device-width, initial-scale=1">

    meta(charset="utf-8")
    meta(property="og:logo" content=`${site.url}/logo.png`)
    meta(property="og:site_name" content=site.title)
    meta(property="og:type" content="website")
    meta(property="og:url" content=site.url)
    meta(property="og:title" content=site.title)
    meta(property="og:description" content=site.description)
    meta(property="og:image" content=`${site.url}/scene.png`)

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="theme-color" content="#ffffff">
    
    script(src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js')
    link(href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet')

    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/0.5.0/modern-normalize.min.css")
    link(rel="stylesheet" href="/style.css")

    //- Global site tag (gtag.js) - Google Analytics
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-151353350-1")
    script window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-151353350-1');

    script(src="/index.js")
    
    block head
  body  
    main
      block body

    footer
      a(href=site.url) Copyright &copy; #{1900+(new Date).getYear()}
      a(href="https://pqvst.com" target="_blank")
        i.fa.fa-code
        span Built by pqvst
      a(href=site.instagram target="_blank")
        i.fa.fa-instagram
        span cafeandcowork
      a(href=site.github target="_blank")
        i.fa.fa-github
        span pqvst/cafeandcowork

    //-a.forkme(href=github target="_blank")
      img(src="/forkme.png")
