
mixin attribute(value, expanded)
  span(class=getValueColor(value))
    if value != Null
      span= getValueText(value)
    else
      a(href=site.github title="Add missing data" target="_blank")
        i.fa.fa-question-circle-o
        if expanded
          span Add missing data
  
mixin score(place)
  span= formatScore(place.score)

mixin hours(hours)
  if typeof hours == 'string'
    div Every day: #{formatHours(hours)}
  else
    div Mon: #{formatHours(hours.mon)}
    div Tue: #{formatHours(hours.tue)}
    div Wed: #{formatHours(hours.wed)}
    div Thu: #{formatHours(hours.thu)}
    div Fri: #{formatHours(hours.fri)}
    div Sat: #{formatHours(hours.sat)}
    div Sun: #{formatHours(hours.sun)}
