
mixin attribute(value, expanded)
  span(class=getValueColor(value))
    if value != null
      span= getValueText(value)
    else
      a(href=site.github title="Add missing data" target="_blank")
        i.fa.fa-question-circle-o
        if expanded
          span Add missing data
  
mixin score(place)
  span= formatScore(place.score)

mixin times(city, place, dow)
  if place.hours[dow]
    if isOpen24Hours(city, place, dow)
      span Open 24 Hours
    else
      span= formatHours(place.hours[dow])
  else
    span Closed

mixin hours(city, place)
  div Mon: #[+times(city, place, 1)]
  div Tue: #[+times(city, place, 2)]
  div Wed: #[+times(city, place, 3)]
  div Thu: #[+times(city, place, 4)]
  div Fri: #[+times(city, place, 5)]
  div Sat: #[+times(city, place, 6)]
  div Sun: #[+times(city, place, 0)]
