
mixin attribute(value, expanded)
  span(class=getValueColor(value))
    if value != null
      if value === true
        span= __('Yes')
      else if value === false
        span= __('No')
      else
        span= getStarRating(value)
    else
      a(href=site.github title="Add missing data" target="_blank")
        i.fa.fa-question-circle-o
        if expanded
          span= __('Add missing data')
  
mixin score(place)
  span= formatScore(place.score)

mixin hours(hours)
  div #{__('Mon:')} #{formatHours(hours[1]) || __('Closed')}
  div #{__('Tue:')} #{formatHours(hours[2]) || __('Closed')}
  div #{__('Wed:')} #{formatHours(hours[3]) || __('Closed')}
  div #{__('Thu:')} #{formatHours(hours[4]) || __('Closed')}
  div #{__('Fri:')} #{formatHours(hours[5]) || __('Closed')}
  div #{__('Sat:')} #{formatHours(hours[6]) || __('Closed')}
  div #{__('Sun:')} #{formatHours(hours[0]) || __('Closed')}
