
mixin attribute(value, expanded)
  span(class=getValueColor(value))
    if value != Null
      span= getValueText(value)
    else
      a(href=site.github title="Add missing data" target="_blank")
        i.fa.fa-question-circle-o
        if expanded
          span Add missing data
  
mixin score(place)
  span= formatScore(place.score)

mixin hours(hours)
  div Mon: #{formatHours(hours[0])}
  div Tue: #{formatHours(hours[1])}
  div Wed: #{formatHours(hours[2])}
  div Thu: #{formatHours(hours[3])}
  div Fri: #{formatHours(hours[4])}
  div Sat: #{formatHours(hours[5])}
  div Sun: #{formatHours(hours[6])}
